@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

@import "tailwindcss";

@theme {

    --color-black: #000000;
    --color-white: #ffffff;
  
    --color-primary: #ed6079;
    --color-secondary: #8d818c;

    --font-body: Merriweather , ui-sans-serif, system-ui;
    --font-album-cover: Niconne, ui-sans-serif, system-ui;

    --breakpoint-sm: 40rem; 
    --breakpoint-md: 48rem; 
    --breakpoint-lg: 64rem; 
    --breakpoint-xl: 80rem; 
    --breakpoint-2xl: 90rem; 
    --breakpoint-3xl: 93.5rem; 
}

@utility container {
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-inline: auto;

  @media (width >= theme(--breakpoint-sm)) {
    max-width: 100%;
  }
  @media (width >= theme(--breakpoint-md)) {
    max-width: 100%;
  }
  @media (width >= theme(--breakpoint-lg)) {
    max-width: 100%;
  }
  @media (width >= theme(--breakpoint-xl)) {
    max-width: 73.75rem;
  }
  @media (width >= theme(--breakpoint-2xl)) {
    max-width: 82rem;
  }
  @media (width >= theme(--breakpoint-3xl)) {
    max-width: 86.5rem;
  }
}

body {
    @apply w-full font-body text-[#333333];
}
.container {
    max-width: 1100px;
}
.primary-heading {
    @apply text-primary text-4xl sm:text-5xl text-center relative mb-4 lg:mb-8 font-album-cover;
}
.view-more {
    @apply flex justify-center items-center mt-8;
    .view-more-link {
        @apply text-gray-700 border-b border-primary;
    }
}

/* MENU CSS STARTS HERE */
.header-main {
    @apply p-4;
    .topnav {
        @apply block sm:flex flex-col justify-center items-center;
    }
    .logo-wrapper {
        @apply flex justify-between items-center;
        .brand-logo {
            @apply flex sm:justify-center sm:items-center sm:pt-5;
            & img {
                @apply w-[150px] sm:w-[200px];
            }
        }
        .icon {
            @apply block sm:hidden;
            & svg {
                @apply w-7 h-7 text-gray-900;
            }
        }
    }
    .menu-wrapper {
        @apply hidden sm:flex flex-row sm:mt-6 border-y border-gray-300 w-full lg:w-[80%] md:justify-center;
        .nav-item {
            @apply inline-block text-gray-600 py-4 px-8 sm:px-5 lg:px-10 text-center text-base tracking-[2px] hover:text-gray-950;
        }
        .nav-item.active {
            @apply text-gray-950;
        }
    }
    .topnav.open {
        .menu-wrapper {
            @apply flex flex-col absolute top-[91px] left-0 w-full bg-white z-10 shadow-[0px_4px_10px_-4px_#9b9898] h-full;
        }
    }
}
/* MENU CSS ENDS HERE */


/* SLIDER CSS STARTS HERE */
.slideshow-section {
    .slideshow-container {
        & img {
            @apply h-auto lg:h-[100vh] object-cover object-center;
        }
    }
    .swiper-button-next, .swiper-button-prev {
        @apply bg-white opacity-0;
        transition: 1s;
    }
    .swiper-button-next:after, .swiper-button-prev:after {
        @apply text-base font-extrabold;
    }
}
.slideshow-section:hover {
    .swiper-button-next, .swiper-button-prev {
        @apply bg-white h-8 w-8 lg:h-14 lg:w-14 opacity-100;
    }
}
/* SLIDER CSS ENDS HERE */


/* QUOTE SECTION CSS STARTS HERE */
.quote-section {
    @apply pb-0 pt-16 sm:py-16;
    .quote-wrapper {
        @apply flex justify-center flex-col items-center text-center gap-3 relative;
        .the-quote {
            @apply text-4xl sm:text-5xl mb-0 lg:mb-2 text-primary font-album-cover;
        }
        .the-sub-text {
            @apply text-base lg:text-xl m-0 lg:max-w-[80%];
        }
        .quote-watermark {
            @apply absolute left-4;
        }
    }
}
/* QUOTE SECTION CSS ENDS HERE */


/* IMAGE GRID SECTION CSS STARTS HERE */
.photo-grid-section {
    @apply px-4 sm:px-8 py-10;
    .grid-list {
        @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 sm:gap-8;
        .grid-list-item {
            @apply overflow-hidden cursor-pointer font-album-cover;
            & img {
                transition: transform 1s;
            }
        }
        .grid-list-item:hover img {
            transform: scale(1.1);
        }
    }
    .grid-name {
        @apply text-center pt-3 text-2xl lg:text-3xl text-gray-950; 
    }
}
.photo-grid-section.portfolio {
    .grid-list {
        @apply gap-y-12 sm:gap-x-8 sm:gap-y-20;
        .grid-list-item {
            a {
                @apply block;
            }
        }
        .grid-list-item:hover img {
            transform: none;
        }
    }
}
/* IMAGE GRID SECTION CSS ENDS HERE */


.portfolio-detail-section {
    .portfolio-detail-wrap {
        @apply bg-gray-950 text-white p-4 lg:p-10;
    }
    .portfolio-detail-main {
        @apply flex flex-col sm:flex-row gap-4 sm:gap-8 items-center;
        .portfolio-detail-text {
            @apply basis-1/2 text-[60px];
            .d-text {
                @apply inline-block whitespace-pre-wrap [word-spacing:100vw];
            }
        }
        .portfolio-detail-img {
            @apply basis-1/2;
        }
    }
    & hr {
        @apply my-20;
    }
    .portfolio-detail-grid {
        .photo-grid-section {
            @apply p-0;
            .grid-list {
                @apply block columns-1 sm:columns-2;
                .grid-list-item {
                    @apply break-inside-avoid last-of-type:mb-0 mb-4 sm:mb-8 overflow-hidden;
                }
                & img {
                    @apply h-auto;
                }
            }
        }
    }
}

.films-section {
    @apply px-4 sm:px-8 py-10;
    .film-grid {
        /* @apply grid grid-cols-1 sm:grid-cols-2 gap-4 sm:gap-8; */
        .film-item {
            @apply w-full lg:max-w-[50%] mx-auto;
        }
    }
}

.fifty-section {
    @apply py-10;
    .right-fifty-wrapper {
        @apply flex flex-col-reverse sm:flex-row gap-8 items-center justify-center;
        & img {
            @apply sm:shadow-[20px_-18px_0_0_#e3b3bb87];
        }
    }
    .left-fifty-wrapper {
        @apply flex flex-col-reverse sm:flex-row-reverse gap-8 items-center justify-center;
        & img {
            @apply sm:shadow-[-20px_-18px_0_0_#e3b3bb87];
        }
    }
    .text-wrap {
        @apply basis-full w-full sm:basis-1/2;
    }
    .img-wrap {
        @apply basis-full w-full sm:basis-1/2;
    }
}
.about-section {
    .text-wrap {
        @apply text-base sm:text-lg flex flex-col gap-4;
        & strong {
            @apply italic;
        }
    }
}

.service-section {
    @apply py-10 overflow-hidden;
    .text-wrap {
        @apply text-base sm:text-lg;
        & strong {
            @apply italic;
        }
        .service-heading {
            @apply hidden sm:block;
        }
    }
    .img-wrap {
        transform: translateX(0);
        .service-img {
            @apply object-cover w-full;
        }
        .service-heading {
            @apply block sm:hidden;
        }
    }
    .service-heading {
        @apply text-lg sm:text-xl pb-4 font-bold text-gray-950;
    }
    .service-text {
        @apply text-base;
    }
    .right-fifty-wrapper {
        @apply flex-col-reverse sm:flex-row;
    }
    .left-fifty-wrapper {
        @apply flex-col-reverse sm:flex-row-reverse;
    }
}

.insta-section {
    .insta-grid {
        @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 sm:gap-8;
        .instagram-media {
            @apply h-[450px];
            .Caption {
                display: none !important;
            }
        }
    }
}

.contact-section {
    .text-wrap {
        @apply text-base sm:text-lg;
    }
    .cont-heading {
        @apply text-xl pt-10 pb-1 font-bold text-gray-950;
    }
    .cont-details {
        @apply flex flex-col gap-1;
    }
}

.footer-main {
    @apply mt-10;
    .footer-wrapper {
        @apply flex flex-col justify-center sm:items-center py-6 sm:py-10 gap-4 text-gray-950;
        .footer-item {
            address {
                @apply text-base sm:text-lg;
            }
            .footer-logo {
                @apply pb-2 sm:pb-4 flex flex-col justify-center sm:items-center;
                & img {
                    @apply w-[200px];
                }
            }
            .contact-wrap {
                @apply flex flex-col lg:flex-row gap-2 lg:gap-10;
                .contact {
                    @apply flex flex-row items-center gap-2 text-base sm:text-lg;
                    & svg {
                        @apply w-5 h-5 shrink-0;
                    }
                }
            }
        }
    }
    .copyright {
        @apply flex justify-center items-center bg-[#e3b3bb87] p-4 text-center;
        .copyright-text {
            @apply m-0 text-sm sm:text-base text-gray-950;
        }
    }
}

.back-to-top {
    @apply hidden fixed bottom-28 sm:bottom-20 right-4 sm:right-8 z-50 border-0 outline-none bg-primary text-white shadow-lg
    cursor-pointer p-4 rounded-full text-base hover:bg-secondary
    flex-col justify-center items-center;
    & svg {
        @apply w-5 h-5 -rotate-90;
    }
}

video {
    @apply aspect-video object-cover object-center w-full cursor-pointer;
}


.flex-modal {
    @apply flex fixed inset-0 justify-center items-center z-50 p-4 left-0 top-0 w-full h-full bg-black;
    .modal-content {
        @apply relative bg-[#fefefe] m-auto p-0 w-full lg:w-[80%] max-w-[1200px];
    }
    .close {
        @apply text-white absolute top-[10px] right-[25px] 3xl:right-[15%] text-[35px] font-bold z-10
        hover:text-[#999] hover:cursor-pointer
        focus:text-[#999] focus:cursor-pointer;
    }
    .mySlides {
        @apply hidden h-[calc(100vh-32px)] overflow-hidden bg-black;
        & img {
            @apply w-full h-full object-contain;
        }
    }
    .cursor {
        @apply cursor-pointer;
    }
    .prev, .next {
        @apply cursor-pointer absolute top-1/2 w-auto p-4 -mt-[50px] text-white
        font-bold text-xl;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
    .numbertext {
        @apply text-[#f2f2f2] text-xs py-2 px-3 absolute top-0;
    }
    .demo {
        opacity: 0.6;
    }
    .active,
    .demo:hover {
        opacity: 1;
    }
    img.hover-shadow {
        transition: 0.3s;
    }
    .hover-shadow:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}